body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(#000000 1px, transparent 1px);
    background-size: 32px 32px;
    background-color: #ffffff;
    font-size: 16px;
  }
        footer {
    background-color: #ddd;
    padding: 10px;
    box-sizing: border-box;
  }

.navbar {
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    margin-bottom: 100px;
    height: 85px;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .heading h1 {
    margin-left: 20px;
  }
  
  .lesson h1 {
    margin-right: 20px;
    background-color: #4dd0e1;
    color: #ffffff;
    padding: 7px;
    border-radius: 7px;
  }

.outer-heading
{
    font-size: 3em;
    margin-left: 15px;
}
.inner-card
{
    margin: 0px 60px;
    font-size: 1.5rem;
}
.bold-text {
    font-weight: bold;
  }
  .remember{
    padding: 15px;
    background-color: #ddf4ff;
    border: 2px solid rgba(84,174,255,0.4);
    border-radius: 6px;
    
}
.outer-card
{
    color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    margin-top: 10%;
    margin: 15% 5% 7% 5%;
    border-radius: 3px;
    background-color:#ffffff;
    padding: 4px 0%;
    width: 90%;
    
}
.footer {
    background-color: #4dd0e1;
    color: #777777;
    padding: 40px;
    text-align: center;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }
  

  
  .prevnext a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #4dd0e1;
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
  }
  
  .prevnext a:hover {
    background-color: #555555;
  }
  .next 
  {
    float: right;
  }
.question{
   color: rgb(240, 68, 97);
}

@media screen and (max-width: 768px) {

    .navbar .heading {
        /* font-size: 2em; */
        display: none;
    }

    .outer-card
    {
      margin-top: 35%;
    }
    .prevnext {
      /* font-size: 2em;
      margin: 70px 0; */
    }
    body 
    {
      font-size: 12px;
    }
    .inner-card
    {
      font-size: 1.2rem;
    }
    .prevnext a {

      padding: 8px 10px;
      margin: 0px;
    }
    
}

